<div style="display: flex;justify-content: center;align-items: center;margin-bottom: 20px">
  <button pButton pRipple type="button" style="font-size:25px" class="p-button-outlined p-button-rounded p-button-info">
    <img alt="logo" src="assets/radar-svgrepo-com.svg" style="width: 2.5rem"/>&nbsp;La Liste des Radars
  </button>
</div>
<div class="row">
  <div class="col-sm-3" *ngFor="let radar of radars" style="height: 240px">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">{{radar.id}}</h6>
        <span class="card-text"><b>Vitesse Maximale :</b> {{radar.vitesseMax}} <b style="color: brown">km/h</b></span><br>
        <span class="card-text"><b>Latitude : </b>{{radar.latitude}}</span><br>
        <span class="card-text"><b>Longitude : </b>{{radar.longtitude}}</span><br><br>
        <span style="display: flex;align-items: center;justify-content: center">
          <a href="#" class="btn btn-primary">Modifier</a>&nbsp;&nbsp;
          <a href="#" class="btn btn-danger">Supprimer</a>
        </span>
      </div>
    </div>
  </div>
